body{
  background-color: darkslateblue;
  color: rgba(255,255,255,.55);
  text-align: center;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
