.container{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 35%;
    text-align: left;
    min-width: 400px;
}

.btn{
    background-color: #343A40;
}

img:not(.logo, .nav-logo) {
    margin: auto;
    border-radius: 10%;
    
}