
#title {
    color: white;
    padding: 2%;
}

body {
    width: 100%;
}

.rest-name {
    display: block;
    color: white; 
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
}

.rest-likes {
    display: block;
    text-align: left;
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.699); 
}

.rest-addr {
    display: block;
    text-align: left;
    margin-left: 5%;
}

.search {
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}

.btn {
    margin-left: 3%;
}

.card {
    background-color: rgba(87, 80, 131, 0.767);
    border-radius: 10%;
    padding: 2%;
    margin-bottom: 30px;
}

.col {
    margin: 10px;
}

img {
    display: block;
    max-height: 200px;
    padding: 5%;
    border-radius: 15%;
    margin: auto;
    margin-bottom: 3px;
}

img:hover {
    filter: opacity(0.5);
}
