
#title {
    color: white;
    padding: 2%;
}

.rest-name {
    color: white;
    margin: 5px;
}

.rest-info {
    margin: 5px;
}

.card {
    background-color: rgba(87, 80, 131, 0.767);
    border-radius: 10%;
    padding: 2%;
}

.col {
    margin: 10px;
}

img {
    height: 200px;
    width: 300px;
    object-fit: fill;
    border-radius: 10%;
}

img:hover {
    filter: opacity(0.5);
}