/* Simple CSS file for the search.html demo, since normal HTML just looked bad */
.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preview-card {
    flex-grow: 1;
    padding: 15px;
}

