@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body{
    background-color: darkslateblue;
    color: rgba(255,255,255,.55);
    text-align: center;
    height: 100%;
}

.nav-link{
    font-size: large;
}

.search-bar{
    margin: 15%;
}

#name {
    color: white;
}

.btn{
    background-color: #343A40;
}