@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body{
    background-color: darkslateblue;
    color: rgba(255,255,255,.55);
    text-align: center;
}

.nav-link{
    font-size: large;
}

.search-bar{
    margin: 15%;
}
