@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body{
    background-color: darkslateblue;
    color: rgba(255,255,255,.55);
    text-align: center;
    height: 100%;
}

.notif-icon {
    max-height: 30px;
    max-width: 30px;
    border-radius: 50px;
    margin-right: 10px;
}

.nav-link{
    font-size: large;
}

.search-bar{
    margin: 15%;
}

#name {
    color: white;
}