#rest-pop {
    display: inline-block;
    text-align: left;
    margin-bottom: 3%;
    color:rgb(219, 208, 223);
}

.card .aboutcard {
    margin: auto;
    margin-top: 2%;
    padding: 3%;
    width: 50%;
    border-radius: 22px;
    background-color: rgba(250, 250, 250, 0.212);
}

#restify-img {
    display: inline-block;
    max-width: 200px;
}