.form-container{
    padding-top: 25px;
    width: 45%;
    text-align: left;
    margin: auto;
    justify-content: center;
    min-width: 400px !important;
    max-width: 800px !important; 
}

.signup-login{
    padding-top: 75px
}

.profile-form-avatar {
    margin: auto;
    border-radius: 10%;
    max-width: 200px;
    max-height: 200px;
}

.restaurantavatar {
    border-radius: 10%;
    max-width: 200px;
    max-height: 200px;
    padding-bottom: 2%;
}

.btn{
    background-color: lightslategray;
}

#login-btn{
    margin-bottom: 5px !important;
}
